<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.research.tad">

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBPQyJVYSaCNift5lq11womLX7aUrMLakk" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".UserProfile" />
        <activity android:name=".RequestVehicleActivity" />
        <activity android:name=".BaseDrawerActivity" />
        <activity
            android:name=".CreateProfileActivity"
            android:label="Setup Profile" />
        <activity
            android:name=".MainActivity"
            android:label="Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="Register" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Reset Password" />
        <activity android:name=".LoginActivity" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>